*{
    box-sizing: border-box;
    font-family: Poppins;
}
  
h1{
    text-align: center;
}
  
input[type=text], select, textarea {    
    width: 100%;
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 4px;
    resize: vertical;
}
  
label {
    padding: 10px 10px 10px 0;
    display: inline-block;
    width: 300px;
}
  
button {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
  
input[type=submit]:hover {
    background-color: green;
}
  
.main {
    border-radius: 5px;
    padding: 20px;
    width: 800px;
     margin: auto;
}
  
.judul {
    width: 25%;
    margin-top: 6px;
}
  
.isi { 
    margin-top: 6px;
}

.baris:after {
    content: "";
    display: table;
    clear: both;
}
  

.container {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 13px;
  left: 8px;
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}


.container input:checked ~ .checkmark {
  background-color: blue;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark::after {
  display: block;
}

.container .checkmark::after {
 	top: 4px;
	left: 4px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: white;
}
  
